In [1]:
#first we import the data

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split# split data into training and testing
from sklearn.metrics import accuracy_score #will give  us accuracy of our test vs learing data
# joblib.dump(model, 'music_recommendations.joblib') stores trained model in file

music_data = pd.read_csv(r'C:\Users\Jennifer\Desktop\music.csv')

In [2]:
music_data #check to see if the data has run correctly with no errors

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [3]:
#clean the data
#means removing duplicates, null values,delete columns,split dataset into input and output
#going to predict what music 21 year oldwould probably be into

X=music_data.drop(columns=['genre']) #doimg the music_data file plis tab, we can see the 'drop' attribute parameters and that 
                                  # will show us what to run and specify for code execution
                                 # this will allow us to have a view of data set withou 'genre'
                                  #Capital X to represent the expression music_data. drop()

In [4]:
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [5]:
#MAKING OUR OUTPUT SET. THE TOP ON WAS THE IMPUT

y= music_data['genre']
X_train, X_test, y_train , y_test =train_test_split(X, y, test_size= 0.2) #gave 20% of data to testing

In [6]:
y # this shows the predictions (outputs ONLY)

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [7]:
#Predicting Model using Algorhitum
#from sklearn

In [8]:
model= DecisionTreeClassifier()
model.fit(X_train,y_train) #takes input set and output set, passing only training data not test part
predictions = model.predict(X_test)# it takes a two dimensional array
                            #put 21,1 like new record in the table
                            #another input set 22,0 (0 represents female and 1 male)
                            #asked model to make 2 predictions at once
                            #predictions is variable where it's stored

In [9]:
predictions

array(['Dance', 'Acoustic', 'Classical', 'Dance'], dtype=object)

In [10]:
#ACCURACY MEASURE OF MODEL( TESTING PART, OTHER PART WAS TRAINING)

score= accuracy_score(y_test,predictions) #between 0-1
                                          #y testoutput vs prediction output

In [11]:
score

1.0

In [84]:
#control enter runs current cell without adding new cell
#accuracy score is 0.75 to 1.0 on 20% of data
#more data we give model plus cleaning it ,will give accurate results
# NEED THOUSANDS OF DATA TO GET LIKE THAT 0.75 kind of score

In [ ]:
#model persistance is key when a prediction can take thousands of hours
#save the data and import the data into new notebook after we train